body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

li {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 20px;
}

.Pandawa {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: 20px;
    float: left;
    padding-top: 20px;
    padding-left: 5px;
}

.header {
    background-color: #444B4D;
    height:90px;
    margin-top: 0px;
    /* display: flex; */
    
}

.menu{
    float: right;
}

.Logo{
    width: auto;
    height: 60px;
    margin-top: 10px;
    padding-left: 5px;
    float: left;

}

.container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 20px;
    padding: 160px 15px;
    margin: 0 auto;
    padding-bottom: 0px;
}

.top-wrapper {
    background-image: url(bg\ sekul\ blur.png);
    background-size: cover;
    color: white;
    text-align: center;
    overflow: hidden;
    height: 600px;
}

.atau {
    color: black;
}

.top-wrapper h1 {
    opacity: 1;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    color: black;
    padding-bottom: 3px;
}

.top-wrapper p {
    opacity: 0,7;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.btn {
    padding: 10px 20px;
    color: white;
    display: inline-block;
    opacity: o,7;
    border-radius: 4px;
}

.btn:hover {
    opacity: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
}

.signup {
    background-color: #8F857D;
}

.facebook {
    background-color: #8F857D;
    margin-right: 10px;
}

.twitter {
    background-color: #8F857D;
}

.h1 {
    padding-top: 50px;
    /* height: fit-content; */
}

.btn-wrapper{
    padding-top: 50px;
}

.slogan {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: navy;
    padding: 8px 0px 0px;
    font-size: 20px;
}

.koran{
    background-color: #90A955;
    width: auto;
    height: 840px;
    margin-top: 0;
}

.judul-koran {
    margin-top: 0;
    margin-left: 45%;
    padding-top: 33px;
    
}

.isi-koran{
    column-count: 3;
    -webkit-column-count: 3;
    text-align: justify;
}

.footer{
    width: 100%;
    background-color:  #444B4D;
    height: 60px;
    align-items: flex-end;
    float: left;
}
.footer li{
    list-style-type: none;
    font-size:large;
    padding-top: 10px;
    margin-top: 10px;
}

.isi-koran a {
    font-size: 30px;
    font-weight: bold;
}

.from {
    background-color: #90A955;
    display: flex;
    justify-content: center ;
}
.contact-form {
    padding-top: 50px;
    width: 10;

}

/* 
input,textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 20px;
    font-size: 18px;
} */

input,textarea{
    border: 1px solid #dee7ec;

}

.submit-contact {
    background-color: #D5ECD4;
    color: black;
    padding: 0;
}